.matrix-transformation-editor {
	overflow-x: auto;
}

.matrix-transformation-editor .matrix-container:hover {
	cursor: pointer;
	background-color: #ececec;
	border-radius: 6px;
}

.matrix-transformation-editor .matrix-container.active {
	background-color: #e8f6ff;
	border-radius: 6px;
}

.matrix-transformation-editor .add-button, .delete-button {
	border: 1px #ececec solid;
	height: 30px;
	width: 30px;
	border-radius: 100px;
	padding: 10px;
	box-shadow: 1px 1px 3px 1px rgba( 0, 0, 0, 0.2 );
}

.matrix-transformation-editor .add-button:hover, .delete-button:hover {
	opacity: 0.7;
}

.matrix-transformation-editor .delete-button.disabled {
	pointer-events: none;
	opacity: 0.3;
}
