* {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

body, html, #root {
	height: 100%;
}

body {

}

.graph-container {
	fill: transparent;
	stroke: black;
	stroke-width: 2px;
}

.scrubber {
	color: tomato;
	text-decoration-line: underline;
	text-decoration-style: dashed;
	cursor: ew-resize;
}

.rank-container:hover {
	background-color: #eaeaea;
}

.node {
	position: relative;
	z-index: 2;
	background-color: white;
	border: 2px solid black;
	padding: 12px;
	text-align: center;
	display: inline-block;
	height: 80px;
	width: 80px;
}

.arrow-renderer {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
}

.rank-container {
	min-height: 100px;
	padding-left:  20px;
	padding-right:  20px;
	border: 1px solid gray;
	border-left-width: 0px;
	border-right-width: 0px;
}

.u-clickable {
	cursor: pointer;
}

.u-clickable:hover {
	opacity: .8;
}

.u-moveable {
	cursor: move;
}

.u-moveable:hover {
	opacity: .8;
}

.u-unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.renderer {
}
