body {
	font-family: 'Source Sans Pro', sans-serif;
  font-family: sans-serif;
	max-width: 900px;
  padding: 40px 25px 130px 25px;
  margin: auto;
}

#root {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Serif Pro', serif;
}

body, #root {
	height: 100%;
}

.c-grab {
	cursor: grab;
}

.c-grabbing {
	cursor: grabbing;
}

.c-default {
  cursor: default;
}

.interactive {
  color: #00a3b7;
	fill: #00a3b7;
}

.pointer-none {
	pointer-events: none;
}

.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
.overflow-x-auto {
	overflow-x: auto;
}
