body {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
  font-family: sans-serif;
	width: 900px;
	overflow-x: auto;
  padding: 40px 25px 130px 25px;
  margin: auto;
}

a {
	transition: color 0.2s ease;
	text-decoration: none;
	color: #333;
	box-shadow: inset 0 -2px 0 #357EDD;
}

a:hover {
	color: #357EDD !important;
}

a:visited {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 700px;
}

p {
	max-width: 650px;
	line-height: 1.3;
}


#root {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Serif Pro', serif;
}

body, #root {
	height: 100%;
}

.c-grab {
	cursor: grab;
}

.c-grabbing {
	cursor: grabbing;
}

.c-default {
  cursor: default;
}

.interactive {
  color: #00a3b7;
	fill: #00a3b7;
}

.pointer-none {
	pointer-events: none;
}

.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
.overflow-x-auto {
	overflow-x: auto;
}
